body {font-family: 'Roboto', sans-serif;
background-color: #FFFFFF;
color: #434455;}


ul {list-style: none;
margin: 0;
padding: 0;}

a {text-decoration: none;}
img{
    display: block;
}

/*============Header=========*/
.container-heder{

}
.header-logo-dys{
    color: #2e2f42;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03;
        text-transform: uppercase;
}
.header-logo{
    color:#4d5ae5;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.header-menu-item {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-menu-link{
    color:#2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus
{
color: #404BBF ;
}
.header-address {
    font-style: normal;
}
.header-address-link {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
        letter-spacing: 00.02em;}

      .header-address-link:hover,
      .header-address-link:focus
      {color: #404BBF;
      }
/*=====================*/

/*============Hero=========*/

    .hero {
        background-color:#2e2f42;
    }
    .hero-title{
        color:  #FFF;
            text-align: center;
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07;
            letter-spacing: 0.02em;
    }

   .hero-bye-btn{
    background:  #4D5AE5;
    color: #FFFFFF; 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
   }
   .hero-bye-btn:hover,
   .hero-bye-btn:focus
    {
            background: #404BBF;
        
   }

   /*=====================*/
   /*=======Features==============*/
   .visually-hidden{
    clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
   }
 .features-subtitle {
    color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
 }
 .features-item-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 /*=====================*/
 /*=======team==============*/
 .team {
    background:#F4F4FD;
 }

 .team-titl {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
 }
.team-list-item {
    background-color: #fff;
}
 .team-subtitle{
    color: #2e2f42;
    text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
 }
 .team-text {
    color: #434455;
    text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 /*=====================*/
 /*========Portfolio=============*/
 .portfolio-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
 }

 .portfolio-subtitle {
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
 }

 .portfolio-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 /*=====================*/
 /*=======Footer==============*/
 .footer {
    background: #2E2F42;
 }

 .footer-link {
    color:#4d5ae5;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
 }

 .footer-logo-dys {color:#f4f4fd;
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

 .footer-text {color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
 /*=====================*/
 