body {font-family: 'Roboto', sans-serif;
background-color: #FFFFFF;
color: #434455;}

 p, h1,h2, h3,h4,h5{
    margin-top: 0;
    margin-bottom: 0;
 }

ul {
    list-style: none;
margin-top: 0;;
margin-bottom: 0;
padding-left: 0;}

a {text-decoration: none;}
img{
    display: block;
}
 .container {
    width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
 }
/*============Header=========*/
.header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.container-heder{
    display: flex;

}
.header-logo-dys{
    color: #2e2f42;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03;
        text-transform: uppercase;
}
.header-navigation{
    display: flex;
   flex-grow: 1;
   justify-content: flex-start;
   gap: 90px;
   margin-left:156px;
}
.header-logo{
    display: flex;
    color:#4d5ae5;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.header-menu{
    display: flex;
    gap: 40px;
    margin-left: 76px;
}
.header-menu-item {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-menu-link{
    color:#2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus
{
color: #404BBF ;
}
.header-address {
    font-style: normal;
}
.header-address-list{
    display: flex;
    gap: 40px;
    margin-right: 156px;
  

}
.header-address-link {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
        letter-spacing: 00.02em;}

      .header-address-link:hover,
      .header-address-link:focus
      {color: #404BBF;
      }
/*=====================*/

/*============Hero=========*/

    .hero-container{
    background-color: #2e2f42;
    padding-top: 188px;
        padding-bottom: 292px;
        padding-left: 472px;
        padding-right: 472px;
    }
    .hero-title{
        align-self: center;
        color:  #FFF;
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07;
            letter-spacing: 0.02em;
            margin-bottom: 48px;
            max-width: 496px;
    }
.hero-btn-box{
    display: flex;
   margin: 0 auto;

}
   .hero-bye-btn{
    background:  #4D5AE5;
    color: #FFFFFF; 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
border: none;
   }
   .hero-bye-btn:hover,
   .hero-bye-btn:focus
    {
            background: #404BBF;
        
   }

   /*=====================*/
   /*=======Features==============*/
   .visually-hidden{
    clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
   }
   .features{
    padding-top: 120px;
    padding-bottom: 120px;
   }
 .features-subtitle {
    color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
 }
 .features-item-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 /*=====================*/
 /*=======team==============*/
 .team {
    padding-top: 120px;
    padding-bottom: 120px;
 }
 .container-team{
    background: #F4F4FD;
 }

 .team-titl {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
 }
.team-list-item {
    background-color: #fff;
}
 .team-subtitle{
    color: #2e2f42;
    text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
 }
 .team-text {
    color: #434455;
    text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 /*=====================*/
 /*========Portfolio=============*/
 .portfolio-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
 }

 .portfolio-subtitle {
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
 }

 .portfolio-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
 /*=====================*/
 /*=======Footer==============*/
 .footer {
    background: #2E2F42;
 }

 .footer-link {
    color:#4d5ae5;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
 }

 .footer-logo-dys {color:#f4f4fd;
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

 .footer-text {color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
 /*=====================*/
 